
body{
    margin: 0 100px;
    line-height:1 ;
}
h1{
    text-align: center;
}
input{
    width: 1000px;
}

input[type="text"]{
    font-weight: 200;
}

b{
    font-weight: 200;
    color: rgb(6, 188, 248);
}

input[type="submit"]{
      background-color: blue;
      color: white;
}