.parent{
    height:60vh;
    width:60%;
    margin: auto auto;
    background-color:rgb(30, 255, 105);
    border:2px solid black;
    padding:40px 0 1px 0 ;
  }
  
  body{ text-Align:center;
   margin:40px 0 ;
  }
  
  
  button{
    margin:0 10px;
    border: 2px solid green;
  }
  
  .font{
      border: 3px double;
      width: 100px;
      margin: 100px auto;
      font-size: larger;
      text-transform: uppercase;
  }